# MacOS
.DS_Store

# Python
*.py[cod]
__pycache__/
venv/
*.egg-info/

# Bazel
/.bazelrc
/bazel-*
/bazel_pip

# Notebooks
.ipynb_checkpoints

# IntelliJ
.idea
.ijwb

# Clangd
.cache
compile_commands.json
external/
